# files

files_revision_1/
files/models_1fold/
files/models_10fold/
files/models_10_fold/
files/models_retrained/

files/outputs
files/outputs_spearman
files/outputs_without_inv_trans

files/README

files/datasets/exclude_on_targets
files/datasets/include_on_targets
files/datasets/output_file_pam_change.txt

# general
__pycache__/
.ipynb_checkpoints/
SysEvalOffTarget_src/__pycache__
.idea/
.vscode/
*.pyc

# deploy
deploy/

# development
dev_*


# main folder files
evaluate_by_folds_change_seq- final.ipynb
evaluate_by_folds_guide_seq- final.ipynb
incremetal_folds.ipynb
trans_comp.ipynb


# new ignores (sort them)

